/* Reset some default styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #333;
    color: #fff;
    line-height: 1.6;
}

header {
    background-color: #000;
    padding: 20px;
    position: fixed;
    width: 100%;
    top: 0;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
}

nav li {
    margin: 0 15px;
}

nav a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    transition: color 0.3s;
}

nav a:hover {
    color: #FFC300;
}

main {
    margin-top: 80px;
    padding: 20px;
}

section {
    padding: 40px;
    background-color: #000;
    margin-bottom: 20px;
}

h1 {
    color: #FFC300;
    font-size: 32px;
}

p {
    font-size: 18px;
}

footer {
    text-align: center;
    background-color: #000;
    padding: 20px;
}

@media (max-width: 768px) {
  .grid-container {
    grid-template-columns: 1fr; /* Single column on small screens */
    grid-template-rows: repeat(9, 1fr); /* 1 by 9 vertical row */
    gap: 5%; /* Adjust the gap for small screens */
  }
  .grid-item {
    width: 100%; /* 100% width for full column */
    height: 100px; /* Adjust as needed for the height of each row item */
  }
}
