body {
  font-family: 'NoMercyPersonalUseOnly-lgEjd', sans-serif;
  margin: 0;
  padding: 0;
  color: #00ced1;
  background-image: url(kseniya-lapteva-6iUiRv_RX8w-unsplash.jpg);
}

header {
  background-color: transparent; /* LightSeaGreen */
  color: #00ced1;
  padding: 1em;
  text-align: center;
  margin-top: 50px;
}

@font-face {
  font-family: 'NoMercyPersonalUseOnly-lgEjd';
  src: url('NoMercyPersonalUseOnly-lgEjd.ttf') format('truetype');
}

main {
  max-width: 800px;
  margin: 20px auto;
  padding: 20px;
}

button {
  background-color: transparent; 
  color: turquoise;
  font-size: 30px;
  outline: transparent;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: transparent;
outline: transparent;
}


#buttonSection {
  text-align: center;
}

/* Style the navigation */
nav {
    display: flex;
    justify-content: top;
    position: fixed;
    top: 5%;
    left: 50%;
    transform: translate(-50%, -50%);
}

nav a {
    color: turquoise; /* Set the color for the navigation links */
    text-decoration: none;
    margin-right: 10px; /* Adjust spacing between navigation links */
    font-size: 15px;
}

nav a:hover {
    color: gray; /* Set the color for the navigation links on hover */
}

/* Style the home button */
a.home-button {
    color: turquoise; /* Set the color for the home button */
    text-decoration: none;
    transition: color 0.3s;
}

a.home-button:hover {
    color: gray; /* Set the color for the home button on hover */
}
