/* Reset some default styles */
html, body, div, h1, h2, h3, p {
    margin: 0;
    padding: 0;
}

/* Set the background color to black */
body {
    background-color: black;
    color: white; /* Set the font color to white */
    background-image: url('https://i.makeagif.com/media/10-25-2017/R8pxn2.gif');
    background-size: cover; /* Adjust this based on your needs */
    background-repeat: no-repeat;
    font-family: 'TodorraPellito-0Ww2d', Arial, sans-serif;
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 15px;
}

@font-face {
    font-family: 'TodorraPellito-0Ww2d';
    src: url('TodorraPellito-0Ww2d.ttf') format('truetype'); /* URL to your font file */
    /* You may need to specify other font formats (e.g., woff, woff2) for cross-browser compatibility */
}

/* Define some basic styles for the content on your one-page website */
.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

h1 {
font-family: 'TodorraPellito-0Ww2d', Arial, sans-serif;
font-weight:normal;
font-style:normal;
font-size: 60px;
}

/* Add additional styles for your specific content as needed */

/* Example: Styling a section with a background color */
.section {
    background-color: rgba(255, 255, 255, 0.1);
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 20px;
}

p {
    font-family: 'TodorraPellito-0Ww2d', Arial, sans-serif;
    font-size: 20px;
    line-height: 1.5;
    margin-bottom: 10px;
}
/* Example: Styling links */
a {
    color: #3498db;
    text-decoration: none;
    transition: color 0.3s;
}

a:hover {
    color: #e74c3c;
}

