/* Reset some default styles */
html, body, div, h1, h2, h3, p {
    margin: 0;
    padding: 0;
}

/* Set the background color and image */
body {
    margin: 20px;
    display: flex;
    flex-direction: column; /* Stack children vertically */
    align-items: top; /* Center children horizontally */
    justify-content: center; /* Center children vertically */
    min-height: 100vh;
    background-color: black;
    color: #C18F32;
    background-image: url('https://cdn.openart.ai/stable_diffusion/c28578e06b515c11e0a00edf91a81d5b57a038f3_2000x2000.webp');
    background-size: cover;
    background-repeat: no-repeat;
    font-family: 'SmoochSans-VariableFont_wght', Arial, sans-serif;
    font-size: 14px;
    font-weight: bold;
    line-height: 2;
}

/* Style the navigation */
nav {
    display: flex;
    justify-content: top;
    position: fixed;
    top: 5%;
    left: 50%;
    transform: translate(-50%, -50%);
}

nav a {
    color: #C18F32; /* Set the color for the navigation links */
    text-decoration: none;
    margin-right: 10px; /* Adjust spacing between navigation links */
    font-size: 15px;
}

nav a:hover {
    color: gray; /* Set the color for the navigation links on hover */
}

/* Style the home button */
a.home-button {
    color: white; /* Set the color for the home button */
    text-decoration: none;
    transition: color 0.3s;
    font-size: 15px;
}

a.home-button:hover {
    color: gray; /* Set the color for the home button on hover */
}

