 body, h1, h2, p, p2, p3, p4 {
    margin: 5;
    padding: 0;
}

 
header {
    background-color: #001400;
    color: red;
    line-height: 1.6;
    text-align: center;
}

.custom-cursor {
    cursor: url('https://cdn.icon-icons.com/icons2/2070/PNG/512/cactus_icon_126628.png'), auto;
}
 
body {
    /* Use linear gradient from top to bottom */
    background-image: url('https://i.pinimg.com/736x/a8/18/3f/a8183ff35ad1bb1a889287f37d3e38d8.jpg');
    background-size: cover; /* Adjust this based on your needs */
    background-repeat: no-repeat;
    color: red;
    line-height: 1;
    text-align: center;
    margin: 180px;
    font-size: 20px;
}

@font-face {
    font-family: 'VinylGeorge-MpdJ';
    src: url('VinylGeorge-MpdJ.ttf') format('truetype'); /* URL to your font file */
    /* You may need to specify other font formats (e.g., woff, woff2) for cross-browser compatibility */
}

/* Apply the custom font to elements */
body {
    font-family: 'VinylGeorge-MpdJ', sans-serif; /* Use the font-family name specified in @font-face */
    /* Add any other styles you want for the body */
}
 
header {
    background-color: red;
    color: red;
    padding: 40px;
    text-align: center;
}

header h1 {
    font-size: 40px;
    margin-bottom: 100px;
}

p5{
    color: red;
}

p7{
    color: red;
}

p8{
    color: red;
}

p2{
    font-size: 30;
    color: red;
    line-height: 5;

}

p6{
    color: red;
}

p3{
    line-height: 5;
    margin: 10;
}


p2{
    line-height: 5;
    margin: 10;
}
.gradient-fill {
  background: -webkit-linear-gradient(black);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: all 5s ease;
}

.gradient-fill:hover {
  background: -webkit-radial-gradient(#000000, #000000, #000000);
  -webkit-background-clip: text;
  -webkit-text-fill-color: red;
}


/* Apply styles to the button */
.button-container {
    text-align: left;
}

p4{
    color: red;
}

.button1 {
    /* Add your button styles here */
    color: white; /* Change to your desired text color */
    padding: 10px 20px; /* Adjust padding as needed */
    text-decoration: none;

}

/* Style the navigation */
nav {
    display: flex;
    justify-content: top;
    position: fixed;
    top: 5%;
    left: 50%;
    transform: translate(-50%, -50%);
}

nav a {
    color: red; /* Set the color for the navigation links */
    text-decoration: none;
    margin-right: 10px; /* Adjust spacing between navigation links */
    font-size: 20px;
}

nav a:hover {
    color: gray; /* Set the color for the navigation links on hover */
}

/* Style the home button */
a.home-button {
    color: white; /* Set the color for the home button */
    text-decoration: none;
    transition: color 0.3s;
}

a.home-button:hover {
    color: gray; /* Set the color for the home button on hover */
}




