 body, h1, h2, p, p2, p3, p4, p5{
    margin: 180px;
    padding: 0;
}

header {
    background-color: #001400;
    color: white;
    line-height: 1.6;
    text-align: center;
}

body {
    background-image: url('https://i.pinimg.com/originals/50/d5/d3/50d5d3a08dc3971375531cbf50b96078.gif'); no-repeat center center fixed;
    background-size: cover;
    color: white;
    line-height: 1;
    text-align: center;
    margin: 180px;
    font-size: 20px;
}

@font-face {
    font-family: 'VinylGeorge-MpdJ';
    src: url('VinylGeorge-MpdJ copy.ttf') format('truetype'); /* URL to your font file */
    /* You may need to specify other font formats (e.g., woff, woff2) for cross-browser compatibility */
}

/* Apply the custom font to elements */
body {
    font-family: 'VinylGeorge-MpdJ', sans-serif; /* Use the font-family name specified in @font-face */
    /* Add any other styles you want for the body */
}

header {
    background-color: white;
    color: white;
    padding: 40px;
    text-align: center;
}

header h1 {
    font-size: 200px;
    margin-bottom: 100px;
}

p2 {
    font-size: 30px;
    color: white;
    line-height: 5;
    margin: 10px;
}


p4 {
    color: white;
    font-size: 50px;
}

p5{
    margin: 180px;
    color: white;
    font-size: 90px;
}
.image {
    width: 200px;
    height: 200px;
    margin: 10px;
    background-size: cover;
}

.collage {
    position: relative;
    width: 100%;
    height: 100vh;
}

.text-layer {
    position: absolute;
    padding: 20px;
    background-color: none
}

.layer1 {
    top: 10%;
    left: 10%;
    z-index: 2; /* Controls the layering order */
}

.layer2 {
    top: 0%;
    left: 0%;
    z-index: 1;
}

.layer3 {
 top: 0%;
 left: 260%;
 z-index: 60%;
}

.typographic-collage {
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.text-layer {
    position: absolute;
    color: white;
}

